<footer class="coffee-footer">
    <div class="footer-content">
        <p class="footer-text">Coffee App &copy; 2023. All rights reserved.</p>
        <div class="footer-social-icons">
            <a href="#" class="social-icon">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#" class="social-icon">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>